In [1]:
import mysql.connector
import pandas as pd

C:\Users\vinic\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\core\__init__.py:29: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\vinic\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\.libs\libopenblas.CSRRD7HKRKC3T3YXA7VY7TAZGLSWDKW6.gfortran-win_amd64.dll
C:\Users\vinic\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\.libs\libopenblas.IPBC74C7KURV7CB2PKT5Z5FNR3SIBV4J.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
# host = 'sql10.freemysqlhosting.net'
# database = 'sql10266473'
# user = 'sql10266473'
# password = 'GQgQlYmIn7'
# port = 3306

host = 'db4free.net'
database = 'aulaletscode'
user = 'viniciusmdea'
password = 'testeQ123'
port = 3306

con = mysql.connector.connect(user=user, 
                              password=password,
                              host=host,
                              database=database)
con.close()

In [3]:
df = pd.read_csv('salesFacts.csv',encoding='utf-8',delimiter='\t')
df.head()

   ProductID                    Date    Zip  Units      Revenue
0         88  15/02/2000 12:00:00 AM  95605     92  $926,780.40
1       2263  12/11/2008 12:00:00 AM  33178     44  $177,380.28
2       2262  12/11/2008 12:00:00 AM  33178     44  $177,380.28
3        764  27/07/2004 12:00:00 AM  27522     40  $146,134.80
4        763  27/07/2004 12:00:00 AM  27522     40  $146,134.80

In [4]:
# from sqlalchemy import create_engine
# textEngine = 'mysql+mysqlconnector://{}:{}@{}:{}/{}'.format(user,password,host,3306,database)
# engine = create_engine(textEngine, echo=False)

# df.to_sql('salesFacts', con=engine)
# con.close()

In [5]:
tuple([88, '15/02/2000 12:00:00 AM', 95605, 92, '$926,780.40'])

(88, '15/02/2000 12:00:00 AM', 95605, 92, '$926,780.40')

In [1]:
from sqlalchemy import create_engine
textEngine = 'mysql+mysqlconnector://{}:{}@{}:{}/{}'.format(user,password,host,3306,database)
engine = create_engine(textEngine, echo=False)

df.to_sql('SalesFact', con=engine, if_exists='append')
con.close()

In [ ]:
Produtos = pd.read_excel('Dados.xlsx','Products')

In [ ]:
Produtos

In [ ]:
from sqlalchemy import create_engine
textEngine = 'mysql+mysqlconnector://{}:{}@{}:{}/{}'.format(user,password,host,3306,database)
engine = create_engine(textEngine, echo=False)

Produtos.to_sql('Produtos', con=engine, if_exists='append')
con.close()