In [1]:
import pandas as pd
#biblioteca oficial do mysql
import mysql.connector

#Dados do banco de dados db4free
host = 'db4free.net'
database = 'aulaletscode'
user = 'viniciusmdea'
password = 'testeQ123'
port = 3306

In [2]:
con = mysql.connector.connect(user=user, 
                              password=password,
                              host=host,
                              database=database)
cursor = con.cursor()


df = pd.read_sql_query("SELECT * from ImovelWeb", con)

con.close()

In [4]:
df.head()

   index     preço        End  Quartos  Banheiros Area
0      0  300000.0  Jabaquara      1.0        1.0   42
1      1  730000.0      Saúde      3.0        2.0   87
2      2  400000.0      Saúde      2.0        1.0   64
3      3  354253.0    Tatuapé      2.0        NaN   47
4      4  900000.0      Saúde      4.0        5.0  144